<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log In</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    {% block css %}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    {% endblock css %}
  </head>

  <body class="text-center">
    {% block body %}
    {% endblock body %}
</body></html>